* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

.product {
  border: 4px solid black;
  width: 825px;
  margin: 50px auto;
  position: relative;
}

.product-title {
  background-color: #f7f7f7;
  text-transform: uppercase;
  font-size: 22px;
  text-align: center;
  padding: 15px;
  grid-column: 1/-1;
}

.product-title::before {
  content: "SALE";
  letter-spacing: 2px;
  color: #f7f7f7;
  font-size: 13px;
  font-weight: bold;
  background-color: #ec2f2f;
  padding: 7px 15px;
  display: inline-block;
  position: absolute;
  top: -20px;
  left: -40px;
}

.more-info:link {
  color: rgb(0, 0, 0);
}

.more-info:visited {
  color: rgb(0, 0, 0);
}

.more-info:hover,
:active {
  text-decoration: none;
}

.colors {
  display: flex;
}

.color {
  width: 22px;
  height: 22px;
  margin-right: 10px;
  margin-top: 30px;
}
.color {
  background-color: #000;
}

.color-blue {
  background-color: #2f6ee2;
}
.color-red {
  background-color: #ec2f2f;
}
.color-yellow {
  background-color: #f0bf1e;
}

.color-green {
  background-color: #90cc20;
}

.color-brown {
  background-color: #885214;
}
.detail-title {
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.detail-list {
  list-style: square;
  margin-left: 20px;
}

li {
  margin-bottom: 10px;
}

.add-cart {
  background-color: black;
  border: none;
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border-top: 4px solid black;
  grid-column: 4/-4;
}

.add-cart:hover {
  background-color: white;
  color: black;
}

.price {
  font-size: 24px;
}

.shipping {
  font-size: 12px;
  text-transform: uppercase;
  color: rgb(120, 133, 109);
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 10px;
}

.product-price {
  display: flex;
  justify-content: space-between;
}

.product-description {
  margin-bottom: 10px;
}

.product-info {
  margin-top: 20px;
}

.product {
  display: grid;
  grid-template-columns: 250px 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 40px;
}
